.container {
  width: 400px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid #ddd;
}

.calc-result {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.488);
  color: #fff;
  padding: 10px 0;
  padding-right: 5px;
  text-align: right;
}

.btn-17 {
  grid-column: 1 / 3;
}

.btn-4,
.btn-8,
.btn-12,
.btn-16,
.btn-19 {
  background-color: #f5913e;
}

.buttons-container {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.button {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: 1px solid #ddd;
  cursor: pointer;
  outline: none;
  padding: 10px 0;
}
