* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding: 5px 20px 0 20px;
}

#quotes {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#display-quote {
  text-align: center;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-none {
  display: none;
}
